@font-face {
  font-family: "Open Sans Light";
  src: url(../fonts/opensanslight.woff2) format("woff2"), url(../fonts/opensanslight.woff) format("woff");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/opensans.woff2) format("woff2"), url(../fonts/opensans.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Light";
  src: url(../fonts/gilroylight.woff2) format("woff2"), url(../fonts/gilroylight.woff) format("woff");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Extra Bold";
  src: url(../fonts/gilroyextrabold.woff2) format("woff2"), url(../fonts/gilroyextrabold.woff) format("woff");
  font-weight: 800;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-nav {
  color: #000000;
  background-color: #f7e296;
}

.main-nav__user {
  font-size: 15px;
  line-height: 30px;
  list-style: none;
}

.main-nav__site, .footer__site a {
  font-family: "Gilroy Extra Bold", "Arial Black", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  list-style: none;
}

.main-nav__site ul {
  font-family: "Open Sans Light", Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: normal;
  text-transform: none;
  list-style: none;
}

.main-nav__site a, .main-nav__user a {
  color: #000000;
}

.main-nav__site a:hover, .main-nav__site a:focus, .main-nav__user a:hover, .main-nav__user a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.main-nav__site a:active, .main-nav__user a:active {
  color: rgba(0, 0, 0, 0.3);
}

.page-header__logo:hover, .page-header__logo:focus, .footer__logo:hover, .footer__logo:focus {
  opacity: 0.6;
}

.page-header__logo:active, .footer__logo:active {
  opacity: 0.3;
}

.main-nav__search button {
  margin: 0;
  padding: 0;
  border: 2px solid #000000;
  width: 85px;
  height: 49px;
  background-color: #f7e296;
  cursor: pointer;
}

.main-nav__search button:hover {
  background-color: #000000;
  color: #ffffff;
}

.main-nav__search button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}

.main-nav__input {
  background-color: #f7e296;
  border: 0;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.user-profile--disable {
  display: none;
}

.login--disable {
  display: none;
}

.logout--disable {
  display: none;
}

.slider ol {
  margin: 0;
  padding: 0;
}

.slider ul {
  margin: 0;
  padding: 0;
}

.slider__desc b {
  font-family: "Gilroy Extra Bold", "Arial Black", sans-serif;
  font-size: 47px;
  line-height: 56px;
  color: #000000;
}

.slider__switches button {
  width: 12px;
  height: 12px;
  border: 0;
  border-radius: 50%;
}

.btn {
  position: relative;
  width: 220px;
  font-family: "Gilroy Extra Bold", "Arial Black", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
  box-sizing: content-box;
  background: none;
  border: 0;
  color: inherit;
  line-height: normal;
  overflow: visible;
  cursor: pointer;
}

a.btn {
  color: #000000;
}

button.btn {
  color: #000000;
}

.btn::before {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 20px;
  content: "";
  width: 220px;
  height: 8px;
  background-color: #f0c52e;
}

.btn:hover {
  background-color: #f0c52e;
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.slider__table td {
  font-family: "Gilroy Light", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  color: #000000;
}

.slider__table th {
  font-size: 13px;
  line-height: 20px;
}

.slider__btn {
  color: #000000;
}

.categories ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.categories__item a {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 160px;
  height: 275px;
  color: #000000;
}

.categories__item a:hover .img-wrapper {
  color: #000000;
  background-color: rgba(240, 197, 46, 1);
}

.categories__item a:active img {
  opacity: 0.3;
}

.categories__item a:active p {
  color: rgba(0, 0, 0, 0.3);
}

.categories__item .img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(240, 197, 46, 0.5);
  width: 160px;
  height: 160px;
}

.categories__item p {
  font-family: "Gilroy Extra Bold", "Arial Black", sans-serif;
  font-size: 18px;
  line-height: 24px;
  padding-top: 35px;
  background-color: #ffffff;
}

.slider-services__controls {
  position: relative;
  z-index: 1;
  background-color: #e5e5e5;
}

.slider-services__controls ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-services__btn {
  position: relative;
  color: #000000;
  align-items: flex-start;
}

.slider-services__btn:hover, .slider-services__btn:focus {
  color: #000000;
  background-color: rgba(240, 197, 46, 1);
}

.slider-services__btn:active {
  color: rgba(240, 197, 46, 1);
  background-color: #000000;
  width: 500px;
  align-items: flex-start;
}

.slider-services__slide {
  background-color: #e5e5e5;
}

.slider-services__slide:nth-child(1) {
  background-image: url(../img/delivery.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.slider-services__slide:nth-child(2) {
  background-image: url(../img/warranty.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.slider-services__slide:nth-child(3) {
  background-image: url(../img/credit.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.slider-services__slide b {
  font-family: "Gilroy Extra Bold", "Arial Black", sans-serif;
  font-size: 47px;
  line-height: 56px;
  color: #000000;
}

.company ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.company a {
  filter: grayscale(100%);
  opacity: 0.2;
}

.company a:hover {
  filter: none;
  opacity: 1;
}

.about-us {}

.about-us h2 {
  font-family: "Gilroy Extra Bold", "Arial Black", sans-serif;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
}

.about-us li {
  font-family: "Gilroy Extra Bold", "Arial Black", sans-serif;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
}

.map {
  width: 560px;
  height: 222px;
  background-image: url(../img/map.jpg);
}

.footer {
  background-color: #464646;
}

.footer a {
  color: #ffffff;
}

.footer__logo {}

.footer__user a {
  color: rgba(255, 255, 255, 0.7);
}

.logout a {
  color: rgba(255, 255, 255, 0.3);
}

.footer .social-btn {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  opacity: 0.3;
}

.footer .social-btn:hover {
  opacity: 0.6;
}

.footer .social-btn:focus {
  opacity: 0.6;
}

.footer .social-btn:active {
  opacity: 0.1;
}

.social-btn--facebook {
  background-image: url(../img/fb.svg);
}

.social-btn--instagram {
  background-image: url(../img/instagram.svg);
}

.social-btn--twitter {
  background-image: url(../img/twitter.svg);
}

.footer__site a:hover, .footer__site a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer__site a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer__user a:hover, .footer__user a:focus {
  color: rgba(255, 255, 255, 1);
}

.footer__user a:active {
  color: rgba(255, 255, 255, 0.3);
}

.logo__html-academy:hover, .logo__html-academy:focus {
  opacity: 0.6;
}

.logo__html-academy:active {
  opacity: 0.3;
}

.modal__write-us {
  width: 960px;
  height: 553px;
  box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
}

.btn--close {
  position: relative;
  width: 55px;
  height: 55px;
  padding: 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
  opacity: 0.5;
  box-sizing: content-box;
  background: none;
  border: 0;
  border-radius: 50%;
  color: inherit;
  line-height: normal;
  overflow: visible;
  font-size: 0px;
  line-height: 0px;
  letter-spacing: 0px;
  text-transform: none;
  /* background-color: rgba(240, 197, 46, 1); */
  background-image: url(../img/modal-close.svg);
  outline: 0;
}

.btn--close:hover, .btn--close:focus {
  opacity: 1;
  background-image: url(../img/modal-close.svg);
  background-color: rgba(255, 255, 255, 1);
}

.btn--close:active {
  opacity: 0.3;
}

.btn--close::before {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  content: "";
  width: 0;
  height: 0;
  opacity: 0;
}

.modal-form {}

.modal-form__label {
  font-family: "Gilroy Extra Bold", "Arial Black", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.modal-form__field {
  background-color: #f2f2f2;
  border: 0;
  height: 50px;
  padding-left: 20px;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 14px;
  line-height: 8px;
}

.modal__write-us input:hover {
  background-color: ##eaeaea;
}

.modal-form input:focus {
  border-color: #f8e296;
}

.modal__map {
  display: none;
  width: 960px;
  height: 559px;
  box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
}

.catalog__title {
  font-family: "Gilroy Extra Bold", "Arial Black", sans-serif;
  color: #000000;
  font-size: 47px;
  line-height: 48px;
}

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover, .breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.filters h2, .sorting h2 {
  font-family: "Gilroy Extra Bold", "Arial Black", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
}

.filters fieldset {
  border: 0;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  color: #000000;
}

.filters legend {
  font-family: "Gilroy Extra Bold", "Arial Black", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin: 0;
}

.filters ul, .sorting ul, .catalog ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-form__scale {
  box-sizing: border-box;
  width: 196px;
  height: 4px;
  background-color: #dbdbdb;
  cursor: pointer;
}

.filter-form__range {
  position: relative;
  width: 51%;
  height: inherit;
  background-color: #91c92f;
}

.filter-form__toggle {
  position: absolute;
  top: -10px;
  width: 20px;
  height: 20px;
  background-color: #f8f7f4;
  border-radius: 50%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.filter-form__toggle:hover {
  width: 22px;
  height: 22px;
}

.filter-form__toggle--min {
  left: 0;
}

.filter-form__toggle--max {
  right: 0;
}

.filter-form__range-controls p {
  color: rgba(0, 0, 0, 0.2);
}

.sorting-by-type__item {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-by-type__item:hover, .sorting-by-type__item:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-by-type__item:active {
  color: rgba(0, 0, 0, 1);
}

a.sorting-by-type__item--active {
  color: #000000;
}

.product-card__desc {
  font-family: "Gilroy Extra Bold", "Arial Black", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.product-card__price {
  font-family: "Gilroy Light", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.product-card__compare {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.product-card__compare:hover, .product-card__compare:focus {
  color: rgba(0, 0, 0, 1);
}

.product-card__compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.pagination {
  background-color: #ebebeb;
  font-family: "Gilroy Extra Bold", "Arial Black", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.pagination a {
  color: #000000;
}

.pagination__item a {
  color: rgba(0, 0, 0, 0.3);
}

.pagination__item a:hover, .pagination__item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination__item a:active {
  color: rgba(0, 0, 0, 1);
}

.pagination__prev a {
  width: 125px;
  height: 70px;
  color: #000000;
}

.pagination__next a {
  width: 137px;
  height: 70px;
  color: #000000;
}

.pagination__prev a, .pagination__next a {
  display: block;
  padding: 25px 40px;
}

.pagination__item--active a {
  color: #000000;
}

.pagination__prev a:hover, .pagination__prev a:focus, .pagination__next a:hover, .pagination__next a:focus {
  background-color: #d8d8d8;
}

.pagination__prev a:active, .pagination__next a:active {
  color: rgba(0, 0, 0, 0.3);
}